* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  color: #182334;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #f0ede9;
  display: flex;
  position: relative;
}

.navbar {
  width: 8%;
  height: 100%;
  background-color: #182334;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 4.5em;
  gap: 2em;
}
.button {
  padding: 2%;
  width: 100%;
  height: 7%;
  border: none;
  background-color: #f0ede9;
  min-height: 4em;
  cursor: pointer;
}
.button[value] {
  text-overflow: ellipsis;
  overflow: hidden;
}

#text-area {
  padding: 0 0.4em;
  width: 50%;
  height: 25%;
  min-width: 10em;
  border-radius: 5px;
  border-style: groove f0ede9;
  outline: 0.1px f0ede9;
}
#text-area:focus {
  outline: 0.1px f0ede9;
  border-radius: 5px;
  border-style: groove f0ede9;
}
#ekle {
  margin-left: 0.4em;
  width: 4%;
  height: 25%;
  min-width: 3em;
  border-radius: 15%;
  border: 2px solid #182334;
  font-weight: bolder;
  font-size: 1.7ch;
  background-color: #182334;
  color: white;
  cursor: pointer;
}
#ekle:hover {
  background-color: #182334;
  border: 2px solid #182334;
  transition: 0.3s ease-in;
  opacity: 0.7;
}

.card {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
}
.section {
  display: flex;
  flex-direction: column;
  width: 92%;
  height: 100%;
}
.giris {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
}
.space {
  width: 80%;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.space::-webkit-scrollbar {
  display: none;
}

.inputvalfield {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
  padding: 1%;
  background-color: #e3d5ca;
  color: #f0ede9;
  cursor: pointer;
}
.inputvalfield:hover {
  transition: 0.2s ease-in;
  background-color: rgba(227, 213, 202, 0.301);
}

.deletebtn {
  background-color: #182334;
  color: #f0ede9;
  border-radius: 15%;
  padding: 0.1em;
  cursor: pointer;
}

.inputvalfield input:checked + p {
  text-decoration: line-through;
  font-weight: bold;
}

.dark-theme {
  background-color: #182334 !important;
  color: #e3d5ca !important;
}

.high-contrast {
  background-color: black !important;
  color: #182334 !important;
}
